* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.MainDiv {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.header {
    background-color: black;

}

.header-container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 20px;
    max-width: 1300px;
    margin: auto;
    height: 100px;
}

.linksandcart {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navlinks {
    display: flex;
    list-style: none;
    gap: 25px;
}

.navlink {
    color: white;
    font-size: 18px;
    text-decoration: none;
    position: relative;
    font-weight: 500;
    display: inline-block;
}

.navlink::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #ff3535;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: 0.3s ease-in-out;
}

.navlink:hover {
    color: #ff3535;
}

.navlink:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.left img {
    width: 300px;
}

.left {
    display: flex;
    justify-content: center;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-innercontainer {
    width: 90%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left img {
    width: 550px;
}

.right {
    width: 380px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
    margin-bottom: 20px;
}

.tabs span {
    cursor: pointer;
}

.tabs .active {
    font-weight: bold;
    border-bottom: 3px solid #e45c2a;
    padding-bottom: 4px;
}

.tabs .inactive {
    color: gray;
}

.form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    font-size: 15px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    background: #e45c2a;
    color: white;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.forgot {
    display: block;
    text-align: right;
    margin-top: -5px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #e45c2a;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}

#registerForm, #loginForm{
    text-align: center;
}


#registerForm input, 
#loginForm input {
    width: 350px;
}

#registerForm button, 
#loginForm button {
    background-color:#ff0000;
    border: none;
    transition: all 0.3s ease-in-out;
}

#registerForm button:hover, 
#loginForm button:hover {
    background-color: #530000; 

}


#registerForm input::placeholder {
    color: #530000
}

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 40px 20px;
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 130px;
    height: 100px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4 {
    flex-basis: 20%;
    text-align: center;
}

.footer ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}
